<% action = (track.persisted? ? track_url(track) : tracks_url) %>
<% method = (track.persisted? ? :patch : :post) %>
<% submit_text = (track.persisted? ? 'Update Track' : 'Add Track')%>

<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="track_title">Track Title</label>
  <input
    type="text"
    name="track[title]"
    id="track_title"
    value="<%= track.title %>">

  <br>

  <label for="track_album" name="track[album_id]">Album</label>
  <select name="track[album_id]" id="track_album">
  <% albums.each do |album| %>
    <option
      <%= track.album == album ? "selected" : "" %>
      value="<%= album.id %>">
      <%= album.title %>
    </option>
  <% end %>
  </select>
  
  <br>

  <label for="ord">ORD</label>
  <input id="ord" type="number" name="track[ord]" value="<%= track.ord %>">

  <br>

  <input
    type="radio"
    name="track[track_type]"
    value="regular"
    id="track_type_regular"
    <%= track.track_type == "regular" ? "checked" : "" %>>
  <label for="track_type_regular">Regular</label>
  <input
    type="radio"
    name="track[track_type]"
    value="bonus"
    id="track_type_live"
    <%= track.track_type == "bonus" ? "checked" : "" %>>
  <label for="track_type_live">Bonus</label>

  <br>

  <label for="track_lyrics">Lyrics</label>
  <input
    type="text"
    name="track[lyrics]"
    id="track_lyrics"
    value="<%= track.lyrics %>">

  <br>
  
  <input type="submit" value="<%= submit_text %>">
</form>



